name: Run E2E Tests

on:
  push:
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Run E2E tests
    runs-on: ubuntu-latest
    env:
      DATABASE_NAME: testdb
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: postgresql
      DATABASE_PORT: 5432
      API_PORT: 8000
    
    services:
      postgresql:
        image: postgres:16.1-alpine
        env:
          POSTGRES_DB: testdb
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    
    steps:
      - name: Set timezone to America/Sao_Paulo
        uses: szenius/set-timezone@v1.2
        with:
          timezoneLinux: "America/Sao_Paulo"

      - name: Install PostgreSQL dependencies
        run: |
          sudo apt update
          sudo apt install -y postgresql-client

      - name: Install Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          
      - name: Install Python dependencies
        run: pip install pytest pytest-md pytest-emoji
        
      - name: Checkout repository
        uses: actions/checkout@v3
          
      - name: Install requirements
        run: pip install -r requirements.txt
        
      - name: Run Pytest
        uses: pavelzw/pytest-action@v2
        with:
          emoji: false
          verbose: false
          job-summary: true

